<div class="mx-auto text-center max-w-fit"><%= link_to "New Link", "/links/new" %></div>
<% @links.each do | link |%>
<p class="text-center text-lg text-black max-w-sm mx-auto font-semibold"><%= "#{request.base_url}/#{link.shortlink}"%></p>
<p class="text-center p-2 font-medium max-w-fit mx-auto ring-slate-600 ring-2 rounded-md mb-8 hover:shadow-xl"><%= "Link: #{link.link}" %></p>
<% end %>