<p><%= "Link: #{@link.link}" %></p>
<p><%= "Shortlink: #{@link.shortlink}" %></p>
<p><%= "Visit Count: #{@link.visit_count}"%></p>
<% @link.visitors.each do |visitor| %></p>
<p><%= "Visitor: #{visitor.ip_address}" %></p>
<% end %>