<%# locals: (name:, field_type:, label:, field:, index:) -%>
<div class="-mb-4 flex justify-center space-x-4"><%= field.text_field "label_#{index}", placeholder: "Label", class: "max-w-32 mt-1 mr-1 w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
<% if field_type == "text"%>
<%= field.text_field "name_#{index}", placeholder: "Value Name", class: "max-w-48 mt-1 ml-1 w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %></div>
<% end %>
<br>